.App {
  background:slategray;
  height:100%;
  width: 100%;
  position: fixed;
}

.body-wrapper {
  width:85%;
  height:100%;
  margin:0 auto;
  max-width: 1200px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.display-enter, .display-appear {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
}
.display-enter-active, .display-appear-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
  transition: all var(--timeout);
}