.App {
  background:slategray;
  height:100%;
  width: 100%;
  position: fixed;
}

.body-wrapper {
  width:85%;
  height:100%;
  margin:0 auto;
  max-width: 1200px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.fade {
  &-enter {
    opacity: 0.01;
    &-enter-active {
      opacity: 1;
      transition: opacity 300ms ease-in;
    }
  }
  &-exit {
    opacity: 1;
    &-exit-active {
      opacity: 0.01;
      transition: opacity 300ms ease-in;
    }
  }
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}