@import "basscss/css/basscss";

* {
  margin:0;
  padding:0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
html {
  background-color: $light;
}
.content-block {
  z-index: 4;
  position: relative;
  min-height: 50vh;
  background: white;
  display: flex;
  padding: 0px 10% 120px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .copybox {
    max-width: 1440px;
  }
}